body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(https://www.zingerbug.com/Backgrounds/background_images/green_paper_seamless.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
}
h3{
color: cyan;
font-weight: bold;
text-align: center;
}

button{
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;

}


h1{
    color: goldenrod;
}

#message-el{
font-style: italic;
color:khaki;
}

#cards-el{
    color:gold;
}
#sum-el{
    color:navajowhite;
}